<div class="fixed-button">
  <div class="fixed-button__inner">
    <div class="fixed-button__first">
      <div class="fixed-button__product">
        <p class="fixed-button__title">{{ product.title }}</p>
        <p class="fixed-button__title">{{ product.price | money }}</p>
      </div>
      <div class="fixed-button__button button button--full-width button--secondary">購入する</div>
    </div>
  </div>
</div>